<a href="https://colab.research.google.com/github/Salukuhu/Function_Ass/blob/main/FUNCTION_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1) In Python, a function is a reusable block of code that performs a specific task and can be called by its name, while a method is a function that is associated with an object or class and is called using dot notation (e.g., object.method()).

Q2)In Python, parameters are placeholders defined in a function's definition, while arguments are the actual values passed to the function when it's called.
Here's a more detailed explanation:
*Parameters*:  
*Definition*: Parameters are variables that are listed inside the parentheses of a function definition.
*Purpose*: They act as placeholders to receive values from the function call.
*Example*: In the function def greet(name, greeting):, name and greeting are parameters.

*Arguments*:

*Definition*: Arguments are the values that are passed to the function when it is called.
*Purpose*: They provide the actual data that the function will work with.
*Example*: In the function call greet("Alice", "Hello"), "Alice" and "Hello" are arguments.

Q3)To define a function in Python, you use the def keyword, followed by the function name, parentheses for parameters, and a colon, then indent the code within the function. To call it, use the function name followed by parentheses, optionally with arguments.

Q4)The return statement in Python serves as a way for a function to send back a result to the part of the program that called it. It allows functions to produce outputs, making them more useful and reusable.
Additionally, return can be used to stop a function early, preventing unnecessary execution. It also plays a key role in recursion, where a function calls itself and needs to pass back intermediate results. If a function doesn’t have a return statement, it implicitly returns None, meaning it performs actions but does not give a meaningful result.

Q5)
*   An iterable is any Python object capable of returning its elements one at a
time. These objects implement the __iter__() method, which returns an iterator. Examples of iterables include lists, tuples, strings, dictionaries, and sets.

*  An iterator is an object that represents a stream of data and is used to iterate over an iterable. It implements both __iter__() and __next__() methods. The __next__() method returns the next element in the sequence and raises a StopIteration exception when there are no more elements.

Q6)Generators in Python are a special type of iterable that allow you to generate values on the fly instead of storing them all in memory at once. They provide a more memory-efficient way to handle large data sets or infinite sequences.

A generator is defined using a function with the yield statement. When called, it returns a generator object rather than immediately executing.

Q7)**Advantages of Generators Over Regular Functions**:

Memory Efficient – Generates values one at a time, avoiding high memory usage.

Faster Execution – Computes values only when needed (lazy evaluation).

State Retention – Resumes from where it left off, unlike regular functions.

Simplifies Iterators – No need to define __iter__() and __next__().

Ideal for Streaming Data – Works well with real-time data (e.g., logs, APIs).

Prevents Unnecessary Computation – Stops execution after retrieving needed values.

Best for Large or Infinite Sequences – Efficient for tasks like Fibonacci numbers, file reading, and database queries.

Q8)A lambda function is a small, anonymous function defined using the lambda keyword. Unlike regular functions, it does not have a name and consists of a single expression.

Syntax: lamda arguments : expression

Q9)The map() function is used to apply a function to every item in an iterable (like a list or tuple) without using explicit loops. It returns a map object, which is an iterator that generates results lazily.

Syntax: map(function, iterable)

Usage of map() function:

When you need to transform a list without writing a loop.

When applying a function to each element of an iterable.

When working with large datasets (since it returns a lazy iterator)

Q10) *map()* => Applies a function to each element of an iterable

A map object (iterator) containing transformed elements.

When you need to modify all elements in a list.

*filter()* => Filters elements based on a condition. (True/False)

A filter object (iterator) with only elements that satisfy the condition.

When you need to keep only specific elements from a list.

reduce() =>	Applies a function cumulatively, reducing the iterable to a single value.

A single computed value. (not an iterator)

When you need to aggregate all elements.(e.g., sum, product)

Q11) The reduce() function from functools applies a function cumulatively to the elements of an iterable, reducing it to a single value.The reduce() takes the first two elements, applies the function, then uses the result with the next element, and so on. reduce() accumulates results step by step.
Step | x (Accumulated) | y (Next Element) | add(x, y)

1st | 47 | 11 |	58

2nd	| 58 | 42	| 100

3rd	| 100 | 13 | 113

It reduces a list to a single value.

Efficient for operations like sum, product, max, min, etc.

PRACTICAL QUESTIONS

Q1)

In [ ]:
def sum_of_evens(numbers):
    return sum(filter(lambda x: x % 2 == 0, numbers))

nums = [1, 2, 3, 4, 5, 6, 7, 8]
print(sum_of_evens(nums))

20

Q2)

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("sai"))

ias

Q3)

In [ ]:
def square_numbers(numbers):
    return [x**2 for x in numbers]

nums = [1, 2, 3, 4, 5]
print(square_numbers(nums))

[1, 4, 9, 16, 25]

Q4)

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [num for num in range(1, 201) if is_prime(num)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

Q5)

In [ ]:
class FibonacciIterator:
    def __init__(self, n_terms):
        self.n_terms = n_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n_terms:
            raise StopIteration

        fib_number = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return fib_number

fib_iter = FibonacciIterator(10)
print(list(fib_iter))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q6)

In [ ]:
def powers_of_2(max_exponent):
     for exponent in range(max_exponent + 1):
        yield 2 ** exponent

for power in powers_of_2(5):
    print(power)

1
2
4
8
16
32

Q7)

In [ ]:
def read_lines(file_path):
    for line in open(file_path, "r"):
        yield line.strip()

Q8)

In [8]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key=lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

Q9)

In [9]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temperatures_celsius = [0, 20, 37, 100, -40]
temperatures_fahrenheit = list(map(celsius_to_fahrenheit, temperatures_celsius))

print("Temperatures in Fahrenheit:", temperatures_fahrenheit)

Temperatures in Fahrenheit: [32.0, 68.0, 98.6, 212.0, -40.0]

Q10)

In [10]:
def is_not_vowel(char):
    return char.lower() not in 'aeiou'

input_string = "sasmita"

filtered_string = ''.join(filter(is_not_vowel, input_string))

print("String without vowels:", filtered_string)

String without vowels: ssmt

Q11)

In [16]:
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]

order_totals = list(map(lambda order: (order[0], order[2] * order[3] if order[2] * order[3] >= 100 else order[2] * order[3] + 10), orders))

print(order_totals)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]